<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.57.0" targetFramework="net46" />
  <package id="Google.Apis.Auth" version="1.57.0" targetFramework="net46" />
  <package id="Google.Apis.Core" version="1.57.0" targetFramework="net46" />
  <package id="Google.Apis.Dfareporting.v4" version="1.57.0.2718" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net46" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net46" />
</packages>
