<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.71.0" targetFramework="net481" />
  <package id="Google.Apis.Auth" version="1.71.0" targetFramework="net481" />
  <package id="Google.Apis.Core" version="1.71.0" targetFramework="net481" />
  <package id="Google.Apis.Dfareporting.v5" version="1.71.0.3897" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net46" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net481" />
  <package id="System.Management" version="7.0.2" targetFramework="net481" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net481" />
</packages>